.tuffin_options_container {
    background: #FFF;
    padding: 15px;
}

.tuffin_options_container-field-group {
    margin-bottom: 10px;
}

.tuffin_options_container-field-group label {
    display: block;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 5px;    
}

.tuffin_options_container-field-group input {
    padding: 5px;
    width: 45%;
}